jenkins_admin_password = "admin12345"
github_username        = "olita16"
github_pat             = "github_pat_....."
github_url             = "https://github.com/olita16/goit-devops-testapp-hw"
github_tf_url          = "https://github.com/olita16/goit-devops-hw"
github_tf_branch       = "lesson-8-9"
github_main_branch     = "main"
helm_chart_path        = "Progect/charts/django-app"