applications:
  - name: example-app
    namespace: default
    project: default
    source:
      repoURL: ${github_url}
      path: ${helm_chart_path}
      targetRevision: ${github_main_branch}
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories:
  - name: example-app
    url: ${github_url}
    username: ${github_username}
    password: ${github_pat}

repoConfig:
  insecure: "true"
  enableLfs: "true"