adminUser: admin
adminPassword: ${grafana_admin_password}

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

persistence:
  enabled: false
  storageClassName: "gp2"
  size: 10Gi

resources:
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi


datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: ${prometheus_url}
        access: proxy
        isDefault: true
        editable: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    kubernetes-cluster:
      gnetId: 7249
      revision: 1
      datasource: Prometheus
    node-exporter:
      gnetId: 1860
      revision: 27
      datasource: Prometheus
    pod-monitoring:
      gnetId: 6417
      revision: 1
      datasource: Prometheus

grafana.ini:
  server:
    root_url: "%(protocol)s://%(domain)s/"
  security:
    allow_embedding: true
  auth.anonymous:
    enabled: false