server:
  service:
    type: ClusterIP   # важливо для Free Tier
    port: 443
  resources:
    requests:
      cpu: 20m
      memory: 40Mi
    limits:
      cpu: 80m
      memory: 120Mi

applicationController:
  resources:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      cpu: 120m
      memory: 180Mi

repoServer:
  resources:
    requests:
      cpu: 20m
      memory: 40Mi
    limits:
      cpu: 120m
      memory: 200Mi

dex:
  enabled: false

notifications:
  enabled: false

redis:
  resources:
    requests:
      cpu: 10m
      memory: 30Mi
    limits:
      cpu: 50m
      memory: 80Mi

#
# Your example app config
#
applications:
  - name: example-app
    namespace: default
    project: default
    source:
      repoURL: ${github_url}
      path: ${helm_chart_path}
      targetRevision: ${github_main_branch}
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories:
  - name: example-app
    url: ${github_url}
    username: ${github_username}
    password: ${github_pat}

repoConfig:
  insecure: "true"
  enableLfs: "true"
